<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mixer test app</title>
</head>

<body>
    <form action=/buyDrinks method="POST">
        <input name="drinkToBuy" type="text" value="drink to buy"><br>
        <input name="quantity" type="text" value="how much?"><br>
        <input type="submit" value="buy">
    </form>
</body>

</html>